@keyframes rainyCloud {
  0% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(-8%)
  }
  100% {
    transform: translateX(0)
  }
}

@keyframes rainyRain {
  from {
    transform: translate(0, 0);
  }
  to{
    transform: translate(-150%, 250%)
  }
}